@import "tailwindcss";

@font-face {
  font-family: "DM Sans";
  src: url("/DMSans.ttf") format("truetype");
}

:root {
  color-scheme: dark;
}

@keyframes slideIn {
  from {
    transform: translateX(400px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(400px);
    opacity: 0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "DM Sans", sans-serif;
}

.animate-slide-in {
  animation: slideIn 0.3s ease-out;
}

.animate-slide-out {
  animation: slideOut 0.3s ease-in;
}
